/*@media screen and (max-width:1200px){*/
	/*.container {*/
		/*max-width: 1200px;*/
	/*}*/
/*}*/


/*@media screen and (max-width:768px){*/
	/*.container {*/
		/*max-width: 100%;*/
	/*}*/

/*}*/

/*@media screen and (max-width:576px){*/
	/*.container {*/
		/*max-width: 100%;*/
	/*}*/

/*}*/

/*body{*/
	/*padding-top: 72px;*/
	/*!* font-family: "Work Sans", sans-serif; *!*/
	/*font-family: 'Roboto', sans-serif;*/

	/*color: #454545;*/
	/*font-weight: 300;*/

/*}*/

body {
	padding-top: 64px;
	overflow-x: hidden;
	font-size: 15px;
	line-height: 26px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "Work Sans", sans-serif;
	color: #454545;
	font-weight: 400; }

.img-responsive{
	display: block;
	height: auto;
	max-width: 100%;
}

/* nav */

.nav_container{
	margin: 0px;
	padding: 0px;
	width: 200px;
	overflow: hidden;
	height: 50px;
}

.nav_container a{
	width: 100%;
	margin: 0px;
	height: 100%;
}


.nav_box{
	box-shadow: rgba(55,55,55,0.5) 0px 1px 3px;
}

.carousel-control.left {

	background-image:none !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  }
  .carousel-control.right {
	left: auto;
	right: 0;

	background-image:none !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  }

.carousel-control-next, .carousel-control-prev{
	display: none;
}

.carousel:hover a{
	display: flex;
}

.nav_left {
	margin: auto;
}

.navbar-light .navbar-nav .nav-link{
	color: #737373;
}

.navbar-light .navbar-nav .active>.nav-link{
	color:#3d85c6;
}

.navbar-light .navbar-nav .nav-link:hover{
	color: #3d85c6;
}

.nav_left li{
	padding-right: 5px;
	padding-left: 5px;
}

.nav_left li a{
	font-size: 20px;
}

.nav_icon_img li{
	display: inline-flex;
}

.nav_icon_img li img{
	height: 30px;
	width: 30px;
}

.nav_language{
	color: #FFFFFF;
}
.nav_language:hover{
	color: #FF0033;
}
.nav_language{
	line-height: 40px;
	font-size: 20px;
	padding: 5px;
}

.nav_bg{
	background-color: white;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	height: 64px;
	padding-right: 0px;
	padding-left: 0px;
}

.nav_a_font{
	margin: 0 auto;
}

.nav_a_font li{
	margin-left: 20px;
	margin-right: 20px;
}

.nav_a_font li a{
	font-size: 18px;
	color: #737373;
	font-family: "Poppins", sans-serif;
	border-bottom: none;
}

.nav_brand_a{
	margin-right:1rem;
}

.nav_contain{
	max-width: 100%;
	padding-left: 60px;
	padding-right: 60px;
}

.social_icon a i {
	font-size: 14px;
	height: 35px;
	text-align: center;
	display: inline-block;
	border: none;
	line-height: 35px;
	margin: 4px;
	width: 35px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.social_icon a{
	color: #737373;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
    -ms-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    letter-spacing: 0px;
    outline: 0 !important;
}

.social_icon a:hover{
	color: #ffffff;

}

.social_icon a i:hover{
	background-color: #3d85c6;
}

.social_icon{
	display: flex;
	padding-top: 0px;
}
.social_icon li{
	display: block;
}
.nav_first_a{
	border-top: none;
}

@media screen and (max-width:991px){

	.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
		color: #3d85c6;
	}
	.navbar-light .navbar-nav .nav-link{
		color: #3d85c6;
	}

	.navbar-light .navbar-nav .nav-link:hover{
		color: #ffffff;
		background-color: cornflowerblue;
	}
	.nav_brand_a{
		margin: 0 auto;
	}
	.navbar-toggler{
		padding: .25rem .25rem;
	}
	.nav_bg{
		height: auto;
	}
	.nav_a_font li{
		margin-left: 0px;
		margin-right: 0px;
	}
	.navbar-collapse{
		background-color: white;
	}

	.social_icon a i {
		border: 1px solid #3d85c6;
		border-radius:5px;
	}

	.social_icon a{
		color: #3d85c6;
	}

	.social_icon{
		display: block;
		padding-top: 10px;
	}
	.social_icon li{
		display: inline-block;
	}
	.nav_first_a{
		border-top: 1px solid #d0e2f8;
	}
	.nav_a_font li a{

		border-bottom: 1px solid #d0e2f8;
	}
}


/* nav */

/* index feature game  */
.ul_icon {
	display: inline-block;
	margin-bottom: 0px;
	padding-left: 0px;
}

.li_icon {
	display: inline-block;
	padding-right: 40px;

}

.li_img {
	display: inline-block;
	padding-right: 30px;
	vertical-align: middle;
}

.li_img a{
	line-height: 35px;
	font-size: 35px;
}

.li_img img{
	height: 35px;
}

.li_icon a {
	line-height: 30px;
	font-size: 30px;
}

.featured_game_card{
	box-shadow: rgba(55,55,55,0.5) 0px 1px 3px;
	margin: 0px;
}

@media screen and (max-width:1199px){
    .li_icon {
		display: inline-block;
		padding-right: 25px;

	}

	.li_img {
		display: inline-block;
		padding-right: 25px;
	}

	.li_img a{
		line-height: 30px;
		font-size: 30px;
	}

	.li_img img{
		height: 35px;
	}

	.li_icon a {
		line-height: 25px;
		font-size: 25px;
	}

}

.feature_game_img{
	max-width: 50%;
	flex: 0 0 50%;
}

.feature_game_img img{
	width: 100%;
	height: 100%;
}

.featured_game_text{
	max-width: 50%;
	flex: 0 0 50%;
	padding: 10px;
}

.featured_game_text a h3{
	color: #4169E1;
	font-size: 24px;
}

.featured_game_text a h3:hover{
	color: #3d85c6;
	text-decoration: underline;
}

.featured_game_page{
	padding-left: 30px;
	padding-right: 30px;
}

@media screen and (min-width:991px){
    .featured_game_text a h3{
		font-size: 20px;
	}

}

@media screen and (max-width:992px){
	.ul_icon {
		display: inline-block;
		margin-bottom: 0px;
		padding-left: 0px;
		padding-top: 10px;

	}
	.feature_game_img{
		max-width: 100%;
		flex: 0 0 100%;
	}

	.featured_game_text{
		max-width: 100%;
		flex: 0 0 100%;
	}
	.li_img {
		display: inline-block;
		padding-right: 15px;
	}

}

@media screen and (max-width:425px) and (max-width:767px){
	.ul_icon {
		display: inline-block;
		margin-bottom: 0px;
		padding-left: 0px;
		padding-top: 10px;

	}
	.feature_game_img{
		max-width: 100%;
		flex: 0 0 100%;
	}

	.featured_game_text{
		max-width: 100%;
		flex: 0 0 100%;
	}
	.li_img a{
		line-height: 25px;
		font-size: 25px;
	}

	.li_img img{
		height: 25px;
	}


}

.feature_game_a{
	margin-top: 40px;
}

.feature_game_a a{
	display: block;
	height: 100%;
}

.feature_game_a img{
	width: 100%;
}

.feature_game_a a:hover{
	border: 3px solid;
	border-color: rgb(61, 133, 198);;
}


/* index feature game  */




/* carousel	 image */
@media screen and (min-width:640px){
    #carousel_tes img{
        display: none;
    }
    #carousel_tes .carousel-inner .carousel-bg1{
        background: url(https://cdn.jsdelivr.net/gh/loongcheerdv/loongstatic@master/static/pro_img/carousel/撸撸塔-1920X680.jpg) no-repeat center center;
        width: 100%;
		height: 500px;
		background-size: cover;

    }
    #carousel_tes .carousel-inner .carousel-bg2{
        background: url(https://cdn.jsdelivr.net/gh/loongcheerdv/loongstatic@master/static/pro_img/carousel/Hero-summoner-1920X680.jpg) no-repeat center center;
        width: 100%;
		height: 500px;
		background-size: cover;
    }

	#carousel_tes .carousel-inner .carousel-bg3{
        background: url(https://cdn.jsdelivr.net/gh/loongcheerdv/loongstatic@master/static/pro_img/carousel/sap1920.jpg) no-repeat center center;
        width: 100%;
		height: 500px;
		background-size: cover;
    }
	#carousel_tes .carousel-inner .carousel-bg4{
		background: url(https://cdn.jsdelivr.net/gh/loongcheerdv/loongstatic@master/static/pro_img/carousel/塔防典藏-1920X680.jpg) no-repeat center center;
		background-size: cover;
        width: 100%;
        height: 500px;
    }

}

@media screen and (min-width:1500px){
    #carousel_tes img{
        display: none;
    }
    #carousel_tes .carousel-inner .carousel-bg1{
        background: url(/static/pro_img/carousel/撸撸塔-1920X680.jpg) no-repeat center center;
        width: 100%;
		height: 600px;
		background-size: cover;

    }
    #carousel_tes .carousel-inner .carousel-bg2{
        background: url(/static/pro_img/carousel/Hero-summoner-1920X680.jpg) no-repeat center center;
        width: 100%;
		height: 600px;
		background-size: cover;
    }

	#carousel_tes .carousel-inner .carousel-bg3{
        background: url(/static/pro_img/carousel/sap1920.jpg) no-repeat center center;
        width: 100%;
		height: 600px;
		background-size: cover;
    }
	#carousel_tes .carousel-inner .carousel-bg4{
		background: url(/static/pro_img/carousel/塔防典藏-1920X680.jpg) no-repeat center center;
		background-size: cover;
        width: 100%;
        height: 600px;
    }

}
/* index card */
.section_card_padding{
	padding-top: 80px;
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 80px;
}


.card_text {
	margin-top: 0px;
}

.card_text img{
	display: inline-block;
	width: 140px;
	height: 125px;
	float: left;
	padding-right: 15px;
}


.card_text h3,h4,h5{
	display: inline-block;
}

.card_text p{
	display: block;
}

.card_text .card_padding{
	padding: 15px;
	box-shadow: rgba(55,55,55,0.5) 0px 1px 3px;
	height: 164px;
}

.card_padding a h5{
	color: #4169E1;
}

.card_padding a h5:hover{
	color: rgb(61, 133, 198);
	text-decoration: underline;
}

.card_padding a h5:visited{
	color: #ac0404;
}


.game_list{
	display: block;
}

.card_text .game_list{
	max-width: 50%;
	flex: 0 0 50%;
	padding: 7px;
}

@media screen and (max-width:1199px){
    .card_text img{
		display: inline-block;
		width: 130px;
		height: 115px;
		float: left;
		padding-right: 10px;
	}
	.card_text .game_list .card_padding h5{
		font-size: 17px;
	}
}

@media screen and (max-width:991px){
    .card_text .game_list{
		max-width: 100%;
		flex: 0 0 100%;
	}
}

@media screen and (max-width:767px){
    .card_text img{
		display: inline-block;
		width: 100px;
		height: 90px;
		float: left;
		padding-right: 10px;
	}
	.card_text h3,h4,h5{
		display: inline-block;
		width: auto;
	}
	.card_text .card_padding{
		padding: 15px;
		box-shadow: rgba(27, 27, 27, 0.5) 0px 1px 3px;
		height: auto;
	}
}

@media screen and (max-width:426px){
    .card_text p{
		display: inline-block;
	}
	.card_text h3,h4,h5{
		display: inline-block;
		width: 180px;
	}
}


.card_more{
	display: block;
	text-align: center;
	padding-top: 30px;
}

.card_more span{
	cursor: pointer;
	color: #0066ff;
	text-decoration: underline;
	font-size: 18px;
}

.card_more span:hover{
	cursor: pointer;
	color: #ff6633;
	text-decoration: underline;
}

/* index card */



/* game detail page */
.game_detail_padding {
	padding: 60px 0;
}

.game_detail_store{
	max-width: 100%;
	flex: 0 0 100%;
	padding: 7px;
	box-shadow: rgba(55,55,55,0.5) 0px 1px 3px;
	margin: 0px;
	border-radius: 8px;
}

.game_detail_store .game_store_left{
	border-right:1px solid #adadad;
	line-height: 110px;
}


.game_detail_store .game_store_right{
	text-align: center;
}

.game_detail_store .ul_icon {
	display: inline-block;
	margin-bottom: 0px;
	padding-left: 0px;
	line-height: 110px;
}

.game_detail_store .li_icon {
	display: inline-block;
	padding-right: 40px;

}

.game_detail_store .li_img {
	display: inline-block;
	padding-right: 20px;
}

.game_detail_store .li_img a{
	line-height: 40px;
	font-size: 40px;
}

.game_detail_store .li_img img{
	height: 40px;
}

.game_detail_store .li_icon a {
	line-height: 30px;
	font-size: 30px;
}

.game_detail_logo{
	display: inline-block;
	width: 120px;
	height: 110px;
	margin-right: 5px;

}

.game_detail_store .game_store_left h4{
	font-size: 15px;
}




.game_detail_row{
	max-width: 100%;
	flex: 0 0 100%;
	box-shadow: rgba(55,55,55,0.5) 0px 1px 3px;
	border-radius: 8px;
}

.game_detail_row li{
	list-style-type: initial;
	font-size: 17px;
}

.game_detail_row a:link{
	color: blue;
	text-decoration: none;
}

.game_detail_row a:hover{
	color: rgb(255, 136, 0);
	text-decoration: underline;
}

.game_detail_row a:visited{
	color: #ac0404;
}

.game_detail_row h1{
	margin-bottom:15px;
	font-size: 40px;
}

.game_detail_row span{
	display: inline-flex;
	margin-bottom: 20px;
}

.game_detail_store h3{
	display: inline-block;
}

.game_store_img{
	padding-bottom: 20px;
}

.game_store_img img{
	width: 100%;
	height: auto;
}

.game_detail_row p{
	width:100%;
	word-wrap: break-word;
	font-size: 16px;
	padding-left: 15px;
}

.game_detail_head{
	padding-top: 20px;
}

.game_detail_tail{
	padding-bottom: 30px;
}

.new_detail_head{
	padding-top: 20px;
}

.new_detail_tail{
	padding-bottom: 30px;
}


@media screen and (max-width:1199px){
	.game_detail_logo{
		display: inline-block;
		width: 110px;
		height: 100px;
		margin-right: 5px;

	}
    .game_detail_store .li_icon {
		display: inline-block;
		padding-right: 25px;

	}
	.game_detail_store .li_img {
		display: inline-block;
		padding-right: 20px;
	}
	.game_detail_store .li_img a{
		line-height: 30px;
		font-size: 30px;
	}

	.game_detail_store .li_img img{
		height: 30px;
	}

	.game_detail_store .li_icon a {
		line-height: 25px;
		font-size: 25px;
	}
	.game_detail_store .game_store_left h4{
		font-size: 15px;
	}

}

@media screen and (max-width:991px){
	.game_detail_store .game_store_right{
		padding: 10px;
		text-align: initial;
	}
	.game_detail_store .game_store_left{
		border-bottom:1px solid #66B3FF;
		padding: 10px 10px 20px 10px;
		border-right: 0px;
		line-height: 0px;
	}
	.game_detail_logo{
		display: inline-block;
		width: 120px;
		height: 115px;
		margin-right: 5px;

	}
    .game_detail_store .li_icon {
		display: inline-block;
		padding-right: 25px;

	}
	.game_detail_store .li_img {
		display: inline-block;
		padding-right: 20px;
	}
	.game_detail_store .li_img a{
		line-height: 30px;
		font-size: 30px;
	}

	.game_detail_store .li_img img{
		height: 30px;
	}

	.game_detail_store .li_icon a {
		line-height: 25px;
		font-size: 25px;
	}
	.game_detail_store .game_store_left h4{
		font-size: 18px;
		width: auto;
	}
	.game_detail_store .ul_icon {
		display: inline-block;
		margin-bottom: 0px;
		padding-left: 0px;
		line-height: 0px;
	}

}


@media screen and (max-width:500px){
	.game_detail_store .li_img {
		display: inline-block;
		padding-right: 10px;
	}
	.game_detail_store .li_img a{
		line-height: 30px;
		font-size: 30px;
	}

	.game_detail_store .li_img img{
		height: 30px;
	}
	.game_detail_logo{
		display: inline-block;
		width: 95px;
		height: 90px;
		margin-right: 5px;

	}
	.game_detail_store .game_store_left h4{
		font-size: 10px;
	}

	.game_detail_row h1{
		margin-bottom:15px;
		font-size: 30px;
	}



}


/* game detail page */


/* game news */

.news_tit ul{
	display: inline-block;
	padding-left: 0px;
	margin-bottom: 20px;
}

.news_tit li{
	display: inline-block;
	margin-right: 50px;
}

.news_tit a{
	display: block;
	height: 100%;
	padding: 10px;
	font-size: 20px;
}

.news_tit span{
	margin-bottom: 0px;
}

.news_tit li a:link,.news_tit li a:visited{
	text-decoration: none;
	color: #000;
}
.news_tit li a:hover{
	color: #ffffff;
}

.news_tit ul li.select{
	background: rgb(61, 133, 198);
	border-bottom-color: #fff;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	padding: 0;
	font-weight: bolder;
}

.news_tit ul li:hover{
	background: rgb(61, 133, 198);
	border-bottom-color: #fff;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	padding: 0;
	font-weight: bolder;
}

.news_tit ul li.select a{
	color: #fff;
}


.news_content ul{
	display: block;
	border-bottom: 1px solid #eee;
	padding-left: 0px;
	padding-bottom: 10px;

}

.news_content h1{
	font-size: 26px;
	margin-bottom: 20px
}

.news_content ul{
	display: block;
	border-bottom: 1px solid #eee;
	padding-left: 0px;
	padding-bottom: 10px;
}

.news_content a{
	display: inline-block;
	height: 100%;
	/* overflow: hidden; */
}

.news_content span{
	color: #cccccc;
}

a[name='news_con_a']{
	display: block;
}

a[name='news_con_a'] h1{
	text-decoration: none;
	color: #0066ff;
}

a[name='news_con_a'] h1:hover{
	text-decoration: underline;
	color: #FF0033;
}


.news_content li{
	display: inline-block;
}

.news_content img{
	display: inline-block;
	height: 170px;
	max-width: 320px;
	min-width: 320px;
	-webkit-transition: all 0.4s ease-out 0s;
	-o-transition: all 0.4s ease-out 0s;
	transition: all 0.4s ease-out 0s;
}


.news_content p{
	display: inline-block;
	position: absolute;
	font-size: 18px;
}

@media screen and (max-width:991px){
    .news_tit li{
		display: inline-block;
		margin-right: 20px;
	}

	.news_tit a{
		display: block;
		height: 100%;
		padding: 10px;
		font-size: 17px;
	}
	.news_content h1{
		font-size: 23px;
	}
	.news_content p{
		display: block;
		position: relative;
		font-size: 18px;
		margin-top: 20px;
	}

	.news_content span{
		display: block;
		margin-bottom: 15px;
	}
}

@media screen and (max-width:768px){
	.news_tit{
		padding: 0px;
	}

    .news_tit li{
		display: inline-block;
		margin-right: 0px;
	}
	.news_content h1{
		font-size: 20px;
	}

	.news_tit a{
		display: block;
		height: 100%;
		padding: 6px;
		font-size: 14px;
	}
	.news_content p{
		display: block;
		position: relative;
		font-size: 18px;
		margin-top: 20px;
	}

	.news_content span{
		display: block;
		margin-bottom: 15px;
	}

}

@media screen and (max-width:500px){
	.news_tit a{
		display: block;
		height: 100%;
		padding: 5px;
		font-size: 14px;
	}
}



@media screen and (max-width:425px){
	.news_tit{
		padding: 0px;
	}
	.news_content h1{
		font-size: 19px;
	}

    .news_tit li{
		display: inline-block;
		margin-right: 0px;
	}

	.news_tit a{
		display: block;
		height: 100%;
		padding: 4px;
		font-size: 14px;
	}

	.news_tit span{
		margin-bottom: 0px;
		font-size: 10px;
	}
	.news_content p{
		display: inline-block;
		position: relative;
		font-size: 18px;
	}

	.news_content span{
		display: block;
		margin-bottom: 15px;
	}

	.news_content img{
		display: inline-block;
		height: 150px;
		max-width: 300px;
		min-width: 300px;
		-webkit-transition: all 0.4s ease-out 0s;
		-o-transition: all 0.4s ease-out 0s;
		transition: all 0.4s ease-out 0s;
	}

}

@media screen and (max-width:400px){
	.news_tit a{
		display: block;
		height: 100%;
		padding: 0px;
		font-size: 14px;
	}
}

/* news */

/* news detail */
.news_detail_row{
	max-width: 100%;
	flex: 0 0 100%;
	box-shadow: rgba(55,55,55,0.5) 0px 1px 3px;
}

.news_detail_row li{
	list-style-type: initial;
}

.news_detail_row a:link{
	color: #0066ff;
	text-decoration: none;
}

.news_detail_row a:hover{
	color: rgb(255, 136, 0);
	text-decoration: underline;
}

.news_detail_row a:visited{
	color: #ac0404;
}

.news_detail_row h1{
	margin-bottom:15px;
}

.new_detail_img{
	display: block;
}

.news_datail_img img{
	max-width: 100%;
	margin: 0px auto;
	display: block;
}

.news_detail_padding{
	padding-bottom: 0px!important;
	margin-bottom: 0px!important;
}



/* news detail */

/* business */

.business_text{
	position: absolute;
	top: 40%;
}

.business_text h3{
	margin-left: 40px;
	font-size: 40px;
	color: #3d85c6;
}

.business_text li{
	font-size: 24px;
	color: #3d85c6;
}

.business_text_long{
	top: 20%;
}

.bus_section_title_ h2{
	font-family: "Poppins", sans-serif;
    margin-left: 10px;
    margin-bottom: 20px;
    display: inline-block;
	font-size: 20px;
}

.bus_i_con{
	width: 6px;
	height: 20px;
	background: #3d85c6;
	display: inline-block;
}

@media screen and (max-width:991px){
	.business_text{
		position: absolute;
		top: 30%;
	}
	.business_text h3{
		margin-left: 40px;
		font-size: 20px;
		color: #3d85c6;
	}
	.business_text li{
		font-size: 16px;
		color: #3d85c6;
	}
	.business_text_long{
		top: 0%;
	}
}

@media screen and (max-width:767px){
	.business_text{
		position: relative;
		top: 0%;
		text-align: center;
	}
	.business_text ul{
		padding-left: 0px;
	}
	.business_text ul li{
		list-style: none;
	}
	.business_text h3{
		margin-left: 0px;
		font-size: 28px;
		color: #3d85c6;
	}
	.business_text li{
		font-size: 20px;
		color: #3d85c6;
	}
	.business_text_long{
		top: 0%;
	}
	.bus_section_title_ h2{
		font-size: 16px;
	}
}


/* business */

/* footer */
.section_footer_bg{
	background-color: white;
	padding: 20px 0px 0px 0px;
}
.footer_bg{
	background-color: white;
}

.footer_logo{
	display: block;
}

.footer_slogan img{
	margin: 0px;
}
.footer_slogan{
	margin: 0px auto;
	padding: 20px;
	width: 20%;
	display: block;
}

.footer_logo img{
	height: 150px;
	margin: 0px auto;
}

@media screen and (max-width:991px){
    .footer_slogan{
		margin: 0px auto;
		padding: 20px;
		width: 25%;
	}
}


@media screen and (max-width:767px){
    .footer_logo img{
		height: 100px;
		margin: auto;
	}
	.section_footer_bg{
		background-color: white;
		padding: 10px 0px 0px 0px;
	}
	.footer_slogan{
		margin: 0px auto;
		padding: 10px;
		width: 25%;
	}
}

@media screen and (max-width:425px){
	.footer_slogan{
		margin: 0px auto;
		padding: 10px;
		width: 40%;
	}
}

.logo_img img{
	margin: 0 auto;
	height: 150px;
}

.slogan_img img{
	margin: 0 auto;
	width: 40%;
}

.footer_links{
	margin-bottom: 20px;
}
.footer_links p{
	margin-bottom: 10px;
	font-size: 12px;
}

.footer_links span{
	display: block;
}

.footer_links a{
	font-size: 12px;
}

.footer_links i{
	font-size: 12px;
}

.footer_links h2{
	font-size: 14px;
	margin-bottom: 20px;
}
.footer_links a:hover{
	color: #ff6633;
}

.footer_contain{
	margin-bottom: 20px;
}

.footer_contain a:hover{
	color: #ff6633;
}

.footer_social_icon{
	display: inline-block;
}

.footer_social_icon li{
	display: inline-block;
}

.footer_social_icon a i {
	font-size: 14px;
	height: 35px;
	text-align: center;
	display: inline-block;
	border: 1px solid #3d85c6;
	line-height: 35px;
	margin: 4px 4px 4px 0px;
	width: 35px;
	border-radius: 50%;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.footer_social_icon a{
	color: #3d85c6;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
    -ms-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    letter-spacing: 0px;
    outline: 0 !important;
}

.footer_social_icon a:hover{
	color: #ffffff;

}

.footer_social_icon a i:hover{
	background-color: #3d85c6;
}

@media screen and (max-width:767px){
    .slogan_img img{
		width: 30%;
	}
	}


/* footer */

/* footer */

.copyright {
	padding: 10px 0;
	font-size: 10px;
	color: black;
	font-weight: 400; }
	.copyright p {
	  margin-bottom: 0;
		line-height: 16px;
	}
	.copyright a {
		color: #007bff;
		font-weight:600;}
	  .copyright a:hover {
		color: #ff6633;
		opacity: 0.8; }

.footer_padd{
	padding: 0px;
}
/* footer */



/* .portfolio:hover .portfolio-image img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); } */

/* game news img */

/* Section padding */
.section-padding--xlg {
	padding: 120px 0; }

  .section-padding--lg {
	padding: 100px 0; }

  .section-padding--md {
	padding: 80px 0; }

  .section-padding--sm {
	padding: 65px 0; }

  .section-padding--xs {
	padding: 50px 0; }

  .section-padding-top--xlg {
	padding-top: 120px; }

  .section-padding-top--lg {
	padding-top: 100px; }

  .section-padding-top--md {
	padding-top: 80px; }

  .section-padding-top--sm {
	padding-top: 65px; }

  .section-padding-top--xs {
	padding-top: 50px; }

  .section-padding-bottom--xlg {
	padding-bottom: 120px; }

  .section-padding-bottom--lg {
	padding-bottom: 100px; }

  .section-padding-bottom--md {
	padding-bottom: 80px; }

  .section-padding-bottom--sm {
	padding-bottom: 65px; }

  .section-padding-bottom--xs {
	padding-bottom: 50px; }
  .section-padding-bottom-zero{
	padding-bottom: 0px;
	}

  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.section-padding--xlg {
	  padding: 100px 0; }
	.section-padding--lg {
	  padding: 80px 0; }
	.section-padding--md {
	  padding: 70px 0; }
	.section-padding--sm {
	  padding: 60px 0; }
	.section-padding-top--xlg {
	  padding-top: 100px; }
	.section-padding-top--lg {
	  padding-top: 80px; }
	.section-padding-top--md {
	  padding-top: 70px; }
	.section-padding-top--sm {
	  padding-top: 60px; }
	.section-padding-bottom--xlg {
	  padding-bottom: 100px; }
	.section-padding-bottom--lg {
	  padding-bottom: 80px; }
	.section-padding-bottom--md {
	  padding-bottom: 70px; }
	.section-padding-bottom--sm {
	  padding-bottom: 60px; } }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.section-padding--xlg {
	  padding: 80px 0; }
	.section-padding--lg {
	  padding: 70px 0; }
	.section-padding--md {
	  padding: 60px 0; }
	.section-padding-top--xlg {
	  padding-top: 80px; }
	.section-padding-top--lg {
	  padding-top: 70px; }
	.section-padding-top--md {
	  padding-top: 60px; }
	.section-padding-bottom--xlg {
	  padding-bottom: 80px; }
	.section-padding-bottom--lg {
	  padding-bottom: 70px; }
	.section-padding-bottom--md {
	  padding-bottom: 60px; } }

  @media only screen and (max-width: 767px) {
	.section-padding--xlg {
	  padding: 70px 0; }
	.section-padding--lg {
	  padding: 60px 0; }
	.section-padding--md {
	  padding: 50px 0; }
	.section-padding-top--xlg {
	  padding-top: 70px; }
	.section-padding-top--lg {
	  padding-top: 60px; }
	.section-padding-top--md {
	  padding-top: 50px; }
	.section-padding-bottom--xlg {
	  padding-bottom: 70px; }
	.section-padding-bottom--lg {
	  padding-bottom: 60px; }
	.section-padding-bottom--md {
	  padding-bottom: 50px; } }


.section_title_ h2{
	font-family: "Poppins", sans-serif;
    margin-left: 10px;
    margin-bottom: 20px;
    display: inline-block;
}

.section_title_{
	padding-left: 15px;
}
/* section padding */


/**
Section Title Styles
*/
.section-title {
	padding-left: 0;
	padding-right: 90px; }
	.section-title h4 {
	  color: #323232;
	  font-weight: 600;
	  margin-bottom: 30px;
	  line-height: 1;
	  margin-top: -2px; }
	.section-title h2 {
	  color: #2b2b2b;
	  font-weight: 700;
	  margin-bottom: 60px;
	 }
	.section-title.text-center {
	  padding: 0 60px;
	  text-align: center; }
	.section-title.text-right {
	  padding-right: 0;
	  padding-left: 90px; }
	.section-title.no-padding {
	  padding: 0 !important; }

  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.section-title {
	  padding-right: 30px; }
	  .section-title.text-center {
		padding: 0 25px; }
	  .section-title.text-right {
		padding-left: 30px; }
	  .section-title h4{
		  font-size: 22px;
	  }

	}

  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.section-title {
	  padding-right: 30px; }
	  .section-title.text-center {
		padding: 0 25px; }
	  .section-title.text-right {
		padding-left: 30px; }
		.section-title h2 {
			color: #2b2b2b;
			font-weight: 700;
			margin-bottom: 50px;
		   }
		.section-title h4 {

			font-size: 18px;
		}
	}

  @media only screen and (max-width: 767px) {
	.section-title {
	  padding-right: 30px; }
	  .section-title.text-center {
		padding: 0 25px; }
	  .section-title.text-right {
		padding-left: 30px; }
		.section-title h2 {
			color: #2b2b2b;
			font-weight: 700;
			margin-bottom: 40px;
		   }
				.section-title h4 {

			font-size: 18px;
		}
	}

  @media only screen and (max-width: 575px) {
	.section-title {
	  padding-right: 0; }
	  .section-title.text-center {
		padding: 0; }
	  .section-title.text-right {
		padding-left: 0; }
		.section-title h2 {
			color: #2b2b2b;
			font-weight: 700;
			margin-bottom: 30px;
		   }
				.section-title h4 {

			font-size: 18px;
		}
	}

.bus_title:after {
    content: '';
    width: 30px;
    height: 2px;
    background: #3d85c6;
    position: absolute;
    left: 50%;
    margin-left: -15px;
    bottom: -20px;
}
.bus_title{
	position: relative;
}

/* section-title */


.img-banner{
	display: block;
}


/*privacy terms text*/
.term-text-margin{
	margin-bottom: 40px;
}

.term-text h2{
	font-family: "Poppins", sans-serif;
	font-size: 30px;
}

.term-text h1{
	font-family: "Poppins", sans-serif;
}

.term-text p{
	margin-bottom: 15px;
	font-size: 17px;
}

.term-text li{
	font-size: 16px;
}

.important_text{
	font-weight: bold;
}

@media screen and (max-width:767px){
    .term-text h2{
		font-family: "Poppins", sans-serif;
		font-size: 27px;
	}

	.term-text h1{
		font-family: "Poppins", sans-serif;
		font-size: 32px;
	}
}

@media screen and (max-width:425px){
    .term-text h2{
		font-family: "Poppins", sans-serif;
		font-size: 27px;
	}

	.term-text h1{
		font-family: "Poppins", sans-serif;
		font-size: 26px;
	}
	.term-text h3{
		font-family: "Poppins", sans-serif;
		font-size: 22px;
	}
	.term-text p{
		margin-bottom: 15px;
		font-size: 15px;
	}
}
/*privacy terms text*/


/*about us*/

.map_text p{
	display: inline-block;
	font-size: 26px;
}

.mobile_row{
	overflow: hidden;
}


#text_pre{
	top: 40%;
    position: absolute;
}

#text_next{
	top: 60%;
    position: absolute;
}

.about_us_text h1{
	font-family: "Roboto", sans-serif;
	margin-left: 10px;
	margin-bottom: 20px;
	display: inline-block;
}

.about_us_text p{
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	margin-left: 23px;
}



.contact_text_left{
	margin-top: 40px;
	visibility: hidden;
    /*animation: fadeInUp 5s;*/
    /*-webkit-animation: fadeInUp 5s; !* Safari 与 Chrome *!*/
}

.contact_text_right{
	margin-top: 40px;
	padding-left: 140px;
}

.contact_text_left h1{
	font-family: 'Roboto', sans-serif;
	color: #FFFFFF;
	font-weight: 700;
	font-size: 30px;
}

.contact_text_left p{
	font-size: 20px;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 30px; margin-top: 30px;

}

.contact_text_left span{
	display: block;
	padding: 5px 0px;
}

.contact_text_left a:link{
	color: #ffffff;
}



.contact_text_right h1{
	font-family: 'Roboto', sans-serif;
	color: #FFFFFF;
	font-weight: 700;
	font-size: 30px;
	margin-bottom: 20px;
}

.contact_text_right img{
	height: 60px;
	margin: 10px 10px 10px 0px;
}


@media screen and (max-width:991px){
	.contact_text_left h1{
		font-family: 'Roboto', sans-serif;
		color: #FFFFFF;
		font-weight: 700;
		font-size: 28px;
	}

	.contact_text_right h1{
		font-family: 'Roboto', sans-serif;
		color: #FFFFFF;
		font-weight: 700;
		font-size: 28px;
	}

	.contact_text_left p{
		font-size: 20px;
		color: #ffffff;
		font-family: 'Roboto', sans-serif;
		margin-bottom: 20px;
		margin-top: 20px;

	}
	.contact_text_right img{
		height: 50px;
		margin: 10px 10px 10px 0px;
	}

	.map_text p{
		font-size: 20px;
	}

}

@media screen and (max-width:767px){
	.contact_text_right img{
		height: 60px;
		margin: 15px 15px 15px 0px;
	}
	.contact_text_right{
	margin-top: 40px;
	padding-left: 15px;
	}

	.map_text p{
		display: inline-block;
		font-size: 18px;
	}
}

.our-img{
	text-align: center;
}


.our-img img{
	height: 200px;
	margin-bottom: 20px;
}

.i_con{
	width: 6px;
	height: 30px;
	background: #3d85c6;
	display: inline-block;
}

#about-us-text{
	visibility: hidden;
}


.img-about .col-lg-2.col-md-2.col-sm-2.col-3{
	padding-left: 5px;
	padding-right: 5px;
}

.img-about .col-lg-2.col-md-2.col-sm-2.col-4{
	padding-left: 5px;
	padding-right: 5px;
}

.img-about img{
	margin-bottom: 20px;
	height: 50%;
}

@media screen and (max-width:991px){
	.i_con{
		width: 6px;
		height: 30px;
		background: #3d85c6;
		display: inline-block;
	}
}

/*about us*/




/*#scrollUp {*/
  /*right: 30px;*/
  /*bottom: 30px;*/
  /*height: 45px;*/
  /*width: 45px;*/
  /*line-height: 44px;*/
  /*text-align: center;*/
  /*background: #00AC1F;*/
  /*color: #ffffff;*/
  /*font-size: 22px;*/
  /*border-radius: 100%;*/
  /*border: 1px solid #00AC1F;*/
  /*-webkit-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.1);*/
  /*-moz-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.1);*/
  /*-ms-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.1);*/
  /*-o-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.1);*/
  /*box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.1);*/
  /*-webkit-animation: bounceIn 0.8s ease-in-out 1 both;*/
  /*-moz-animation: bounceIn 0.8s ease-in-out 1 both;*/
  /*-ms-animation: bounceIn 0.8s ease-in-out 1 both;*/
  /*-o-animation: bounceIn 0.8s ease-in-out 1 both;*/
  /*animation: bounceIn 0.8s ease-in-out 1 both; }*/

/*page*/

 #pageStyle{
    display:inline-block;
    width:32px;
    height:32px;
    border:1px solid #CCC;
    line-height:32px;
    text-align:center;
    color:#999;
    margin-top:20px;
    text-decoration:none;

    }
#pageStyle:hover{
     background-color:#CCC;
     }
#pageStyle .active{
     background-color:#0CF;
     color:#ffffff;
     }

.page_show{
    display: inline-block;
    margin-top: 25px;
}

/*page*/



/*load*/
#floatingBarsG{
	position:relative;
	width:60px;
	height:75px;
	margin:auto;
}

.blockG{
	position:absolute;
	background-color:rgb(255,255,255);
	width:10px;
	height:23px;
	border-radius:8px 8px 0 0;
		-o-border-radius:8px 8px 0 0;
		-ms-border-radius:8px 8px 0 0;
		-webkit-border-radius:8px 8px 0 0;
		-moz-border-radius:8px 8px 0 0;
	transform:scale(0.4);
		-o-transform:scale(0.4);
		-ms-transform:scale(0.4);
		-webkit-transform:scale(0.4);
		-moz-transform:scale(0.4);
	animation-name:fadeG;
		-o-animation-name:fadeG;
		-ms-animation-name:fadeG;
		-webkit-animation-name:fadeG;
		-moz-animation-name:fadeG;
	animation-duration:1.2s;
		-o-animation-duration:1.2s;
		-ms-animation-duration:1.2s;
		-webkit-animation-duration:1.2s;
		-moz-animation-duration:1.2s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#rotateG_01{
	left:0;
	top:27px;
	animation-delay:0.45s;
		-o-animation-delay:0.45s;
		-ms-animation-delay:0.45s;
		-webkit-animation-delay:0.45s;
		-moz-animation-delay:0.45s;
	transform:rotate(-90deg);
		-o-transform:rotate(-90deg);
		-ms-transform:rotate(-90deg);
		-webkit-transform:rotate(-90deg);
		-moz-transform:rotate(-90deg);
}

#rotateG_02{
	left:8px;
	top:10px;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
	transform:rotate(-45deg);
		-o-transform:rotate(-45deg);
		-ms-transform:rotate(-45deg);
		-webkit-transform:rotate(-45deg);
		-moz-transform:rotate(-45deg);
}

#rotateG_03{
	left:25px;
	top:3px;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
	transform:rotate(0deg);
		-o-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
}

#rotateG_04{
	right:8px;
	top:10px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
	transform:rotate(45deg);
		-o-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		-webkit-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
}

#rotateG_05{
	right:0;
	top:27px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
	transform:rotate(90deg);
		-o-transform:rotate(90deg);
		-ms-transform:rotate(90deg);
		-webkit-transform:rotate(90deg);
		-moz-transform:rotate(90deg);
}

#rotateG_06{
	right:8px;
	bottom:7px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
	transform:rotate(135deg);
		-o-transform:rotate(135deg);
		-ms-transform:rotate(135deg);
		-webkit-transform:rotate(135deg);
		-moz-transform:rotate(135deg);
}

#rotateG_07{
	bottom:0;
	left:25px;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
	transform:rotate(180deg);
		-o-transform:rotate(180deg);
		-ms-transform:rotate(180deg);
		-webkit-transform:rotate(180deg);
		-moz-transform:rotate(180deg);
}

#rotateG_08{
	left:8px;
	bottom:7px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
	transform:rotate(-135deg);
		-o-transform:rotate(-135deg);
		-ms-transform:rotate(-135deg);
		-webkit-transform:rotate(-135deg);
		-moz-transform:rotate(-135deg);
}



@keyframes fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

/*load*/

.news_img_q{
	margin-bottom:20px;
	display: block;
}

.pagination_avtive{
	width: 100%;
    height: 100%;
    display: block;
    padding: 5px 15px;
    background: #3d85c6;
    color: white;
    border: 1px solid #3d85c6;
    border-radius: 4px;
}

.pagination_a{
	width: 100%;
    height: 100%;
    display: block;
    padding: 5px 15px;
    color: #3d85c6;
}

.pagination_a:hover{
    background: #3d85c6;
    color: white;
    border: 1px solid #3d85c6;
    border-radius: 4px;
}

.pagination_li{
	margin: 2px;
}

.social_icon_li a i {
	font-size: 16px;
	height: 35px;
	text-align: center;
	display: inline-block;
	border: none;
	line-height: 35px;
	margin: 4px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.social_icon_li a{
	color: #4169E1;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
    -ms-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    letter-spacing: 0px;
    outline: 0 !important;
}

.social_icon_li a:hover{
	color: #ffffff;

}

.social_icon_li a i:hover{
	background-color: #3d85c6;
}